<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>
<br>
Total count of all products: <%= @product_count %>
<br>
<br>
Total number of Categories: <%= @category_count %>
